@model List<Entities.Product>
@{
    ViewData["Title"] = "Products";
}

<h1>@ViewBag.ProductGroup</h1>
<ul>
    @foreach(var p in Model)
    {
        <li>@p.Brand.Name @p.Name</li>
        <img src="https://thuis.azureedge.net/images/asus_pa328q.png" title="@p.Brand.Name @p.Name" alt="@p.Brand.Name @p.Name" />
    }
</ul>